.d-block {

 width: 200;
 height: auto;

}


.p1 {
  
    text-align: center;
    margin-left: 50px;
}

.h3 {
  
    width: 200;
}

body {
    
     background-image: url("https://images.wallpaperscraft.com/image/single/books_dark_shelf_159441_2560x1080.jpg"); 
    background-size: cover;
}